{% extends "base.html" %}

{% block title %}Server Error{% endblock %}

{% block content %}
<div class="container vertical-centre">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
<h1 class="centre-colour">Ooops!!! 500</h1>

<h3 class="centre-colour">Looks like something went wrong!</h3>

<p class="centre-colour">We track these errors automatically, but if the problem persists feel free to contact us. In the meantime, try refreshing.</p>
</div>
</div>
</div>
{% endblock content %}


