{% extends 'base.html' %}
{% load account socialaccount staticfiles %}


{% block content %}
{% if not user.is_authenticated %}

{% get_providers as socialaccount_providers %}

    {% if socialaccount_providers %}

    <div class="socialaccount_ballot">

      <ul class="socialaccount_providers">
      <li>
        {% include "socialaccount/snippets/provider_list.html" with process="login" %}
      </li>
      </ul>

    </div>

    {% include "socialaccount/snippets/login_extra.html" %}

    {% endif %}
{% else %}

<div class="modal fade" id="myModal">
  <div class="modal-body vertical-centre">
    <h4 class="other-buttons centre-colour">To get the full experience of the challenge the photos will be displayed in fullscreen view.</h4>
    <h4 class="other-buttons centre-colour">After going through all the photos the fullscreen view will automatically exit.</h4>
    <div class="col-md-2 col-md-offset-5">
      <a href="/" role="button" class="btn btn-primary btn-block" onclick="requestFullScreen()" data-dismiss="modal">
          <h5 class="centre-colour other-buttons">OK</h5>
      </a>
    </div>
  </div>
</div>

    <!-- Full Page Image Background Carousel Header -->
    <div id="ClarasSlimyPics" class="carousel slide carousel-container" data-interval="false" data-wrap="false" data-keyboard="false">
        <!-- Wrapper for Slides -->
        <div class="carousel-inner">
            {% for photo in photos %}
            <div class="item {% if forloop.first %}active{% endif %}">
                <!-- Set the first background image using inline CSS below. -->
                <div class="fill">
                    <img src="{{ photo.image.url }}" class="img-responsive vertical-centre">
                </div>
            </div>
            {% endfor %}
        </div>
        <a class="right carousel-control" href="#ClarasSlimyPics" data-slide="next">
            <span class="icon-next"></span>
        </a>

    </div>

<!-- js libraries -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="{% static 'js/jquery.mobile.custom.js' %}"></script>

<script type="text/javascript">
    // $(window).on('load',function(){
    //     $('#myModal').modal('show');
    // });
    $(document).ready(function(){

        $("#myModal").modal('show');

    });
</script>

<script type="text/javascript">
  
  function requestFullScreen() {

  var el = document.body;

  // Supports most browsers and their versions.
  var requestMethod = el.requestFullScreen || el.webkitRequestFullScreen 
  || el.mozRequestFullScreen || el.msRequestFullScreen;

  if (requestMethod) {

    // Native full screen.
    requestMethod.call(el);

  } else if (typeof window.ActiveXObject !== "undefined") {

    // Older IE.
    var wscript = new ActiveXObject("WScript.Shell");

    if (wscript !== null) {
      wscript.SendKeys("{F11}");
    }
  }
}

</script>
<script type="text/javascript">

    $('#ClarasSlimyPics').on('slid.bs.carousel', '', checkitem);  // on caroussel move

    $(document).ready(function(){               // on document ready
        checkitem();
});
    
    function checkitem(){                     // check function

      var $this = $('#ClarasSlimyPics');

      setTimeout(function() {
        $(".item.active").swipeleft(function() {
            $this.carousel('next');
           });
      }, 1700);

      setTimeout(function() {
        $(".item:last").swipeleft(function() {
            window.location.replace ("{% url 'upload-photo' %}");
           });
      }, 1700);

      if($('.carousel-inner .item:last').hasClass('active')) {
        $this.children('.right.carousel-control').hide()
        setTimeout(function(){
            $this.children('.right.carousel-control').show();
        }, 1700);
        $this.children('.right.carousel-control').click(function(){
            window.location.replace ("{% url 'upload-photo' %}")}
            );
      } else {
        $this.children('.carousel-control').hide();
        setTimeout(function(){
            $this.children('.carousel-control').show();
        }, 1700);
      }
    };
</script>
{% endif %}

{% endblock content %}
