{% extends 'base.html' %}
{% load tz %}

{% block content %}

    {% if request.META.HTTP_REFERER == 'http://localhost/upload/' %}

        {% include 'navigation.html' %}

        <div class="container vertical-centre">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">

                    <h1 class="centre-colour">
                        CONGRATULATIONS 
                        {% if user.first_name %}{{ user.first_name }}{% else %}{{ user.username }}{% endif %}!!!
                    </h1>
                    <h2 class="centre-colour">
                        Your <span class="green-colour">slime</span> is sent to review at this very moment and it will be added to the list if the <span class="green-colour">sliminess</span> is strong within it.<br>
                    </h2>
                    <h3 class="centre-colour">or</h3>
                    <a href="/" role="button" class="btn btn-primary btn-block">
                        <h3 class="centre-colour">Start again</h3>
                    </a>
                
                </div>
            </div><br><hr><br>

            <div class="row">
                <div class="col-md-8">

                    <p class="left-colour">
                        Please note:<br>
                        The review process might take some time depending on the number of uploads.<br>
                        You can upload another photo after 30 minutes for safety purposes.
                    </p>
                
                </div>
            </div>
        </div>

    {% else %}

        <div class="container vertical-centre">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                   
                    <h2 class="centre-colour">
                        Loading app...
                    </h2>
                
                </div>
            </div>
        </div>

        <script>

          window.setTimeout(function () {
            window.location.replace ("{% url 'home' %}");
        }, 1000); // redirect after 1 seconds.

        </script>

    {% endif %}
{% endblock content %}
