{% extends 'base.html' %}

{% load crispy_forms_tags static %}

{% block content %}
    <div class="container vertical-centre">
        
        {% with 'http://'|add:request.META.HTTP_HOST|add:'/' as host %}
        
            {% if request.META.HTTP_REFERER != host %}

                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h2 class="centre-colour">
                            <strong>Loading app...</strong><br>
                        </h2>
                    </div>
                </div>
        
                <script>
                    window.setTimeout(function () {
                    window.location.replace ("{% url 'home' %}");
                    }, 1000); // redirect after 1 seconds.
                </script>

            {% else %}

                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <h1 class="centre-colour">
                            CONGRATULATIONS!!!
                        </h1>
                        <h2 class="centre-colour">
                            You have managed to reach the end of our list of <span class="green-colour">SLIMY</span> photos!<br>
                            You can now help us keep <span class="green-colour">sliming</span><br>by adding a <span class="green-colour">slime</span> of your own!
                        </h2>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-10 col-md-offset-1 col-sm-12"> 

                        <form action="" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                            <div class="form-group">
                            {% crispy form %}
                            </div>
                        </form>
                        <h4 class="centre-colour">or</h4>
                        <a href="{% url 'home' %}" role="button" class="btn btn-primary btn-block"><h4 class="centre-colour">Start again</h4></a>
                    </div>
                </div>
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
                <script src="{% static 'js/fileinput.min.js' %}"></script>

                <script>
                    $("#upload-image").fileinput({
                        mainClass: "input-group-lg other-buttons",
                        maxFileCount: 1,
                        maxFileSize: 1024*5,
                        // msgSizeTooLarge: 'The slime exceeds maximum allowed upload size of 1024 KB.',
                        showRemove: false,
                        // allowedFileTypes: "'image'",
                        // allowedFileExtensions: '"jpg", "jpeg", "png", "gif"',
                        // msgInvalidFileExtension: 'Invalid extension for file "{name}". Only "{extensions}" files are supported.',
                        msgNoFilesSelected: 'Select an image of max 5MB',
                        browseClass: "btn btn-success",
                        browseLabel: "<b style='text-shadow: 2px 2px 8px #003300;' class='other-buttons'>Pick Slime</b>",
                        browseIcon: '<i class=\"glyphicon glyphicon-picture\" style="text-shadow: 2px 2px 8px #003300;"></i>',
                        uploadClass: "btn btn-info",
                        uploadLabel: "<b style='text-shadow: 2px 2px 8px #003300;' class='other-buttons'>Upload</b>",
                        uploadIcon: '<i class=\"glyphicon glyphicon-upload\" style="text-shadow: 2px 2px 8px #003300;"></i>'
                    });
                </script>
            {% endif %}

        {% endwith %}
    </div>
{% endblock content %}
