{% extends 'base.html' %}

{% load static from staticfiles %}
{% load photos_uploaded elapsed crispy_forms_tags %}

{% block content %}
{% if request.META.HTTP_REFERER != 'http://86.105.231.84/' %}

<div class="container vertical-centre">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">

        <h2 class="centre-colour">
        <strong>Loading app...</strong>
        </h2>
    
        </div>
    </div>
</div>

<script>

  window.setTimeout(function () {
    window.location.replace ("{% url 'home' %}");
}, 1000); // redirect after 1 seconds.

</script>

{% else %}

{% photos_up user.username %}

{% endif %}

{% endblock content %}
