{% load socialaccount %}

{% get_providers as socialaccount_providers %}

{% for provider in socialaccount_providers %}
    {% if provider.id == "openid" %}
        {% for brand in provider.get_brands %}
        <li>
          <a title="{{brand.name}}" 
             class="socialaccount_provider {{provider.id}} {{brand.id}}" 
             href="{% provider_login_url provider.id openid=brand.openid_url process=process %}"
             >{{brand.name}}</a>
        </li>
        {% endfor %}
    {% endif %}
<div class="container vertical-centre">
  <div class="row">
    <div class="col-md-12">
            <h3 class="text-center" style="text-align: center; color: #fff; text-shadow: 2px 2px 8px #003300;"><strong>Get ready to be grossed out by our previous winners’ most slimy photos!</strong></h3>
            <h3 class="text-center" style="text-align: center; color: #fff; text-shadow: 2px 2px 8px #003300;"><strong>You will have to go through our collection of slimy photos in order to become a winner and upload your own!</strong></h3>
            <h3 class="text-center" style="text-align: center; color: #fff; text-shadow: 2px 2px 8px #003300;"><strong>If slimy enough, your photo will be added in the collection for the next guests to see.</strong></h3>
            <h3 class="text-center" style="text-align: center; color: #fff; text-shadow: 2px 2px 8px #003300;"><strong>ARE YOU UP FOR THE CHALLENGE???</strong></h3>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
          <!--Facebook login button -->
            <a title="Sign in with Facebook"
         href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}" class="btn btn-primary btn-lg center-block">
             <h3 class="other-buttons centre-colour"><i class="fa fa-facebook"></i> Sign in to PLAY!</h3> </a>
          <!-- end Facebook login button -->
    </div>
  </div>
</div>
{% endfor %}
